# Default ignored files
/.idea.HTDirect.dir/.idea/workspace.xml
/.idea.HTDirect.dir/.idea/contentModel.xml
/.idea.HTDirect.dir/.idea/encodings.xml
/.idea.HTDirect.dir/.idea/indexLayout.xml
/.idea.HTDirect.dir/.idea/modules.xml
/.idea.HTDirect.dir/.idea/projectSettingsUpdater.xml
/.idea.HTDirect.dir/riderModule.iml
/.idea.HTDirect.dir/.idea/vcs.xml
/.idea.HTDirect.dir/.idea/watcherTasks.xml
